:root {
    --grimace: #9B5DE5;
    --bubblegum: #F15BB5;
    --lemon-meringue: #FEE440;
    --raspberry-fluff: #00BBF9;
    --hospital-gown: #00F5D4;
  }

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 64pt;
    letter-spacing: 4%;
    text-transform: uppercase;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 48pt;
    letter-spacing: 10%;
}

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 36pt;
    letter-spacing: 5%;
}

h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 32pt;
}

p {
    font-family: 'Neuton', serif;
    font-weight: 300;
    font-size: 24px;
}

#logo {
    color: var(--grimace);
    padding-right: 70px;
}

body {

    margin: 0 auto;
    background: linear-gradient(131deg, #F15BB5 38.54%, #9B5DE5 100%);   
}

#navBar {
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
}

#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    float: right;
}
.navLink {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.heroText {
    padding-left: 100px;
    float: left;
}

.heroText h4 {
    color: white;
}

.heroText h1{
    color: var(--grimace);
}

.heroButton {
    background-color: var(--lemon-meringue);
    border-radius: 20px;
    padding: 10px 30px;
}

h2 .heroButton {
    font-size: 40px;
    color: var(--raspberry-fluff);
}

.footer {
    padding-left: 100px;
    color: white;
    font-size: 18px;
}
footer {

    float: left; 
}

a {
    text-decoration: none;
}

.heroImage {
    float: left;
    display: inline;
    margin: 0 auto;
    margin-left: -25%; //centers the image
    height: 100%;
    width: auto;
}
.img {
    left: 20%;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
